/* :root {
    --primary-color: #2daae1;
    --primary-light: black;
    --primary-dark: black;
    --primary-bg: #f0f7ff;

    --sidebar-bg: #ffffff;
    --sidebar-width: 260px;
    --header-height: 64px;
    --border-color: black;
    --text-primary: black;
    --text-secondary: black;
    --text-light: black;
  } */
  :root {
    --primary-color: #2daae1;
    --primary-light: #5ec3f3; /* 鼠标悬浮时的浅色背景 */
    --primary-dark: #1c88b5; /* 未使用，可根据需要添加 */
    --primary-bg: #f0f7ff;
    --sidebar-bg: #ffffff;
    --sidebar-width: 260px;
    --header-height: 64px;
    --border-color: #e0e0e0; /* 边框颜色，用于左右两侧区分 */
    --text-primary: #333333;
    --text-secondary: #666666;
    --text-light: #999999;
  }